name: Playwright Automation

on:
  workflow_dispatch:
  schedule:
    - cron: "*/30 * * * *" # optional: every 6 hours

jobs:
  run-automation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          npm install
          npx playwright install
          npx playwright install-deps

      - name: Run main
        run: node career.js

      - name: Run contact
        run: node contact.js
